@using MyApp.DataLayer.Entities
@model List<UserEntity>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateUser">CreateUser</a>

<table class="table border-2">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
            <td>
                Email
            </td>

        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    <a href="@Url.Action("UserDetail","Home",new{ userPublicId= user.PublicId})">
                    @user.Name
                </td>
                <td>
                    @user.Email
                </td>
            </tr>
        }
    </tbody>

</table>